# schema: pre-commit-config

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: check-added-large-files
    - id: check-merge-conflict
    - id: check-toml
    - id: check-yaml
      exclude: |
        (?x)^(
          tests/.*|
          .*[.]schema[.]yaml
          )$
    - id: end-of-file-fixer
    - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.9
  hooks:
    - id: ruff
      args: [ --fix ]
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
    - id: codespell
- repo: https://github.com/hades/oopsallyaml
  rev: v0.1.0
  hooks:
    - id: oopsallyaml
      exclude: |
        (?x)^(
          tests/.*|
          .*[.]schema[.]yaml
          )$
- repo: local
  hooks:
    - id: uv_lock
      name: Checking uv lock file
      entry: uv lock --check
      language: system
      pass_filenames: false
      files: ^pyproject.toml$
    - id: mypy
      name: Checking Python typings with mypy
      entry: 'uv run --frozen mypy --follow-untyped-imports oopsallyaml.py test_oopsallyaml.py'
      language: system
      pass_filenames: false
      types: [python]
    - id: pytest
      name: run unit tests with pytest
      entry: uv run --frozen pytest -q
      language: system
      pass_filenames: false
      types: [python]
