# schema: github-workflow

name: check-pre-commit-hooks
run-name: checking pre-commit hooks
on: [push, pull_request]
jobs:
  check-pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - name: Set up Python
        run: uv python install 3.9
      - uses: pre-commit/action@v3.0.1
      - uses: pre-commit-ci/lite-action@v1.1.0
        if: always()
